<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Index/index')}">Micro Service</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:U('User/homepage')}">My Homepage <span class="sr-only">(current)</span></a></li>
                <li><a href="{:U('Job/set')}">Browse Jobs</a></li>
                <li><a href="{:U('Job/post')}">Post a Job</a></li>
                <li><a href="{:U()}">Contact Us</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                <li id="regi"><a href="javascript:return false">Regist</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<style>
    #regist {
        width: 480px;
        padding: 20px;
        border: 1px solid #eeeeee;
        background: #ffffff;
        margin-left: 50%;
        border-radius: 10px;
        position: fixed;
        opacity: 1;
        z-index: 1;
        display: none;
    }
    
    #regist > .head {
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    #regist > .form-inline >.table {
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
</style>
<script>

    $(document).ready(function(){
        $("#regi").click(function(){
             $("#regist").css("display","block");
             $(".container").children().css("opacity","0.5");
        });
        $("#cancel").click(function(){
            $("#regist").css("display","none");
            $(".container").children().css("opacity","1");
        });
        
    });

</script>
<div id="regist">
    <div class="head">
        Regist
    </div>
    <form class="form-inline" action="">
        <table class="table">
            <tr>
                <div class="form-group">
                    <td>Username:</td>
                    <td>
                        <input type="text" class="form-control" placeholder="username">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>Password:</td>
                    <td>
                        <input type="text" class="form-control" placeholder="username">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td></td>
                    <td>
                        <input type="submit" class="form-control">
                        <button id="cancel" class="form-control">取消</button>
                    </td>
                </div>
            </tr>
        </table>
    </form>
</div>