<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My HomePage</title>
    <include file="Public/link" />

    <body>
        <include file="Public/menu" />
        <div class="container" style="width:960px">
            <div class="page-header">
                <h1>Micro Service</h1>
            </div>
            <!--<ul class="nav nav-pills">
                <li class="active">
                    <a href="#">My Homepage</a>
                </li>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Post a Job</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>-->

            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="height:300px">
                            <div class="item active">
                                <center><img src="image/1.jpg" alt="project1"></center>
                            </div>
                            <div class="item">
                                <center><img src="image/2.jpg" alt="project2"></center>
                            </div>
                            <div class="item">
                                <center><img src="image/3.jpg" alt="project3"></center>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!--<div class="col-md-2">
                    <center>
                        <p><a class="btn btn-primary btn-info" href="#" role="button">Register Now</a></p>
                    </center>
                </div>-->
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="alert-warning">
                        <center>
                            <h1>How it Works</h1>
                            <p>For Employer</p>
                            <p>Post a job>Wait for bids>Select the best>Realease reward</p>
                            <p>For Provider</p>
                            <p>Choose a job>Provide the service >Wait for results >Get your paid</p>
                            <p><a class="btn btn-primary btn-warning" href="#" role="button">More Details</a></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert-success">
                        <center>
                            <h1>Post a Jobs</h1>
                            <p>Do You Need Professional Services...</p>
                            <p>...but can't find the right person?</p>
                            <p>You don't need full time help, just quality freelance?</p>
                            <p>Don't limit your business potential, just limit the hassle!</p>
                            <p><a class="btn btn-primary btn-success" href="#" role="button">Post a Job Now</a></p>
                        </center>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert-info">
                        <center>
                            <h1>Job Categories</h1>
                            <p>Logo & Graphic Design</p>
                            <p>Website & Online Store</p>
                            <p>Creative Greetings & Multimedia Production & App & Software</p>
                            <p>Design & Decorating & Translation & Copywriting</p>
                            <p><a class="btn btn-primary btn-info" href="#" role="button">All Services</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>