<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Browse Jobs</title>
    <include file="Public/link" />
</head>
<css file="__PUBLIC__/css/common.css" />
<body>
    <include file="Public/menu" />
    <div class="container">
        <div class="left">
            <div class="dialog">
                <div class="head">
                    Project Name
                </div>
                <div class="info">
                    <span style="color:green">Award:200￥</span>
                    <span>Contest Job | Status:Open (9 days left) | 8 bids</span>
                </div>
                <div class="dscrp">
                    <p>Description: blablablibli.....</p>
                    <p>Category:Other Services</p>
                    <p>Employer:Floyd</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="dialog">
                <ul class="sortlist">
                    <li> By Job Category
                        <ul class="litem">
                            <li>Graphic & Logo Design</li>
                            <li>Translation</li>
                            <li>Web Design & Development</li>
                            <li>App & Software Development</li>
                            <li>Sales & Marketing</li>
                            <li>Other Services</li>
                        </ul>
                    </li>
                    <li>By Job Type
                        <ul class="litem">
                            <li>Contract</li>
                            <li>Contest</li>
                        </ul>
                    </li>
                    <li>By Job Status
                        <ul class="litem">
                            <li>Open</li>
                            <li>Completed</li>
                        </ul>
                    </li>
                    <li>By Reward Amount
                        <ul class="litem">
                            <li>Less than ￥100</li>
                            <li>￥100-￥200</li>
                            <li>￥200-￥300</li>
                            <li>￥300-￥400</li>
                            <li>More than ￥400</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>