<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My HomePage</title>
    <include file="Public/link" />
</head>
<css file="__PUBLIC__/css/common.css" />
<body>
    <include file="Public/menu" />
    <div class="container">
        <div class="user">
            <span class="" style="font-size:36px;">Turing</span>
            <span style="margin-left:30px;font-size:20px">Judgement:    </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <br>
            <span>Email:dijkstra@floyd.com</span>
        </div>
        <div class="left">
            <div class="dialog">
                <div class="head">
                    As a Employer
                </div>
                <div class="item">
                    <div class="info">
                        <span style="color:blue">A Small Ball</span>
                        <span style="margin-left:20px;color:green">Award:200￥</span>
                        <span>Contest Job | Status:Open (9 days left) | 8 bids</span>
                    </div>
                    <div class="dscrp">
                        Description: blablablibli.....
                    </div>
                    <div class="bidlist">
                        <span>1. Provider：hbshengtian </span>
                        <button>download file</button>
                        <input type="radio">
                        <button>pay for this</button>
                        <br>
                        <span>2. Provider：hbsheng </span>
                        <button>download file</button>
                    </div>
                </div>
                <div class="item">
                    <div class="info">
                        <span style="color:blue">A Small Ball</span>
                        <span style="margin-left:20px;color:green">Award:200￥</span>
                        <span>Contest Job | Status:Open (9 days left) | 8 bids</span>
                    </div>
                    <div class="dscrp">
                        Description: blablablibli.....
                    </div>
                    <div class="bidlist">
                        <span>1. Provider：hbshengtian </span>
                        <input type="radio">
                        <span>2. Provider：hbsheng </span>
                        <input type="radio">
                        <span>2. Provider：hbsheng </span>
                        <input type="radio">
                        <span>2. Provider：hbsheng </span>
                        <input type="radio">
                        <button>choose</button>
                    </div>
                </div>
                <div class="item">
                    <div class="info">
                        <span style="color:blue">A Small Ball</span>
                        <span style="margin-left:20px;color:green">Award:200￥</span>
                        <span>Contest Job | Status:Open (9 days left) | 8 bids</span>
                    </div>
                    <div class="dscrp">
                        Description: blablablibli.....
                    </div>
                    <div class="bidlist">
                        <span>Provider：hbshengtian </span>
                        <button>download file</button>
                        <br>
                        <button>pay for this</button>
                    </div>
                </div>
            </div>
            <div class="dialog">
                <div class="head">
                    As a Provider
                </div>
                <div class="item">
                    <div class="info">
                        <span style="color:blue">A Forceful Ball</span>
                        <span style="margin-left:20px;color:green">Award:200￥</span>
                        <span>Contest Job | Status:Open (9 days left) | 8 bids</span>
                        <br>
                        <span>Employer：hbshengtian</span>
                    </div>
                    <div class="dscrp">
                        Description: blablablibli.....
                    </div>
                    <div class="bidlist">
                        <span>File input:</span>
                        <input type="file">
                    </div>
                </div>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
</body>

</html>